* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;
  width: 100%;
}

.Grid {
  position: relative;
}

.Tile {
  border: 1px solid #e1e1e1;
  width: 5rem;
  height: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none;
  -moz-user-select: none;
}

.Tile:hover {
  background: #ededed;
}

.UnitIcon {
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
  width: 2rem;
  height: 2rem;
  text-transform: uppercase;
  user-select: none;
}

.Enemies,
.Heroes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Character {
  overflow: visible;
  flex: 1 0 auto;
  width: 9rem;
  padding: 1rem;
  margin: 0.5rem 0.25rem;
  border: 1px solid #aaa;
  background: dark;
}

.Character:first-child {
  margin-left: 0;
}

.Character:last-child {
  margin-right: 0;
}

.Character h3 {
  font-size: 1.25rem;
  margin: 0 0 0.25rem;
}

.Character h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.TileMenu {
  position: absolute;
  width: 8rem;
  padding: 0.25rem;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  transform: translate(-18%, -120%);
}

.TileMenu button {
  width: 100%;
  margin-bottom: 0.25rem;
}
